*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: var(--primary-font);
}
span{
    color: inherit;
}

body {
    background-color: var(--background-main);
}

.page {
    position: relative;
    max-width: var(--page-width);
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.container__inner {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 35px);
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--background-primary);
}

/* MAIN-SIDEBAR */

.main-sidebar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: var(--header-height);
    max-width: 190px;
    width: 100%;
    max-height: 100vh;
}

.main-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: var(--page-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-nav-title {
    padding: 16px 2px 4px 8px;
    color: var(--gray-400);
    text-transform: uppercase;
}

.sidebar-nav-link {
    position: relative;
    width: 100%;
    padding: 8px;
    color: var(--secondary-font);
}

.sidebar-nav-link:hover {
    color: var(--primary-font);
}

.sidebar-nav-link[data-nav-selected] {
    color: var(--primary-font);
    font-weight: 700;
    border-right: 3px solid var(--primary-main);
    background-color: var(--gray-100);
}

.sub-nav-link {
    padding-left: 30px;
}

/* CONTENT */

.content {
    flex: 1;
    border-left: 1px solid var(--gray-300);
    padding: calc(var(--header-height) + var(--page-padding)) 20px 20px 20px;
    display: flex;
    flex-direction: row;
}

.main-content {
    flex: 1;
}

.content-intro {
    width: 100%;
    padding-bottom: 10px;
}

.content-intro-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.content-intro-group:last-of-type {
    margin-bottom: 0;
}

.main-title {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-text {
    font-size: 16px;
    font-weight: 500;
}

/* CONTENT SIDEBAR */

.content-sidebar {
    max-width: 300px;
    width: 100%;
    margin-left: var(--page-padding);
}

.content-sidebar-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* PAGINATION */
.paginaton-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.paginaton-block > * {
    margin: 0 2px !important;
}
.pagination-dots{
    padding: 5px 8px;
}


/* FOOTER */

.footer {
    background-color: var(--primary-font);
    padding: 10px;
    text-align: center;
}

.footer-text {
    /* font-size: 16px; */
    color: var(--background-main);
    margin-bottom: 5px;
}

.footer-text:last-child {
    margin-bottom: 0;
}

.footer-text-link {
    color: var(--background-primary);
}

.footer-text-link:hover {
    text-decoration: underline;
}



/* MEDIA */
@media(max-width:980px){
    .content{
        flex-direction: column;
    }

    .content-sidebar {
        max-width: 100%;
        margin-left: 0;
    }
}


/* DATA ATTR */
/* 
    SETS ... If Lines more 1 lines. 
    IMPORTANT Works only with [data-text-limit]
*/
[data-limit-lines-on]{
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
[data-limit-lines='1'] {
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
[data-limit-lines='2'] {
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
[data-limit-lines='3'] {
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}
[data-limit-lines="4"] {
    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}
[data-limit-lines="5"] {
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}
[data-limit-lines="6"] {
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
}
/* Hide */
@media(max-width:1140px){
    [data-hide-on-xl]{
        display: none !important;
    }
    [data-show-on-xl]{
        display: block !important;
    }
}
@media(max-width: 980px){
    [data-hide-on-lg]{
        display: none !important;
    }
    [data-show-on-lg]{
        display: block !important;
    }
}
@media(max-width: 720px){
    [data-hide-on-md]{
        display: none !important;
    }
    [data-show-on-md]{
        display: block !important;
    }
}
@media(max-width: 640px){
    [data-hide-on-sm]{
        display: none !important;
    }
    [data-show-on-sm]{
        display: block !important;
    }
}