
.header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    /* max-width: calc(var(--page-width) - var(--page-padding) * 2); */
    max-width: var(--page-width);
    height: 50px;
    background-color: var(--gray-100);
    padding: 0 10px;
    border-top: 3px solid var(--primary-main);
    box-shadow: rgba(0, 0, 0, 1) 0px 2px 5px -5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__menu-btn{

}
.header__menu-block{

}

.logo-btn{
    position: relative;
    max-width: 190px;
    width: 100%;
    height: 100%;
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: 2px;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
}
.logo-btn:hover{
    background-color: var(--gray-300);
}
.logo-btn-img{
    height: 60%;
    margin-right: 5px;
}

.header-btn{
    padding: 6px 16px;
    border-radius: 16px;
    color: var(--gray-700);

    font-size: 1rem;
}
.header-btn:hover, .header-btn:focus{
    background-color: var(--gray-300);
    outline: none;
}
.header-btn:active{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 100px 100px inset;
}

/* HEADER SEARCH */
.header__search-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 0 10px;
}
.header__search-text{
    font-size: 1rem;
    margin-right: 10px;
}
.header__search{
    position: relative;
    height: 32px;
    flex: 1;
}
.header__search-img{
    position: absolute;
    height: 70%;

    left: 5px;
    top: 50%;
    transform: translateY(-50%)
}

.header__search-input{
    height: 100%;
    width: 100%;


    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    padding: 5px 5px 5px 30px;
    background-color: var(--background-primary);
}
.header__search-input::placeholder{
    color: var(--gray-300);
}
.header__search-input:focus{
    border-color: var(--secondary-main);
    outline: 4px solid var(--secondary-composite);
}

/* HEADER BUTTONS */
.header__auth-btns{
    display: flex;
    flex-direction: row;

}
