.question__input-text{
    min-height: 500px;
    overflow-y: auto;
    resize: vertical;
}

.question-title {
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-300);
}

.question-tags{
    
}

.question-textblock{

}