<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TAB -->
    <link rel="shortcut icon" href="static/icons/forum.svg" type="image/png">
    <title>Forum Page Name</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/vars.css">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/questions.css">
</head>

<body>
    <div class="page">

        <!-- HEADER -->
        <header class="container header">
            <a class="logo-btn" href="#"><img src="static/icons/forum.svg" class="logo-btn-img" /> Forum</a>
            <a class="header-btn" href="#">About</a>
            <!-- header SEARCH -->
            <div class="header__search-block">
                <p class="header__search-text" data-hide-on-lg>Looking Up?</p>
                <div class="header__search">
                    <img class="header__search-img" src="static/icons/search.svg" alt="icon">
                    <input class="header__search-input" type="text" placeholder="Search..." />
                </div>
            </div>
            <!-- header BTNS -->
            <div class="header__auth-btns">
                <button class="btn btn--normal btn--secondary-v2">Log in</button>
                <button class="btn btn--normal btn--secondary-v1">Sign up</button>
            </div>
        </header>
        <!-- CONTENT -->
        <div class="container__inner">
            <div class="main-sidebar-container" data-hide-on-sm>
                <div class="main-sidebar">
                    <a class="sidebar-nav-link" href="#">Home</a>
                    <p class="sidebar-nav-title">Public</p>
                    <a class="sidebar-nav-link sub-nav-link" data-nav-selected href="#">Questions</a>
                    <a class="sidebar-nav-link sub-nav-link" href="#">Tags</a>
                    <a class="sidebar-nav-link sub-nav-link" href="#">Users</a>
                </div>
            </div>
            <div class="content">
                <div class="main-content">
                    <div class="content-intro">
                        <div class="content-intro-group">
                            <h1 class="main-title">All Questions</h1>
                            <button class="btn btn--normal btn--secondary-v1">Ask Question</button>
                        </div>
                        <div class="content-intro-group">
                            <p class="main-text">10,000,000 questions</p>
                            <div class="content-filter-block">
                                <div class="content-filter"></div>
                                <button class="btn btn--normal btn--secondary-v2">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">0</span>votes
                                </div>
                                <div class="question-stat">
                                    <span class="question-stat-digit"> 0</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>how to code
                                    if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know if
                                    it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                                    dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id esse
                                    veniam illo assumenda rem?</div>
                                <div class="question-marks-block">
                                    <div class="question-tags">
                                        <a href="#" class="btn-tag">html</a>
                                        <a href="#" class="btn-tag">css</a>
                                        <a href="#" class="btn-tag">golang</a>

                                    </div>
                                    <div class="question-user">
                                        <a class="user-avatar" href="#user-href"><img src="static/img/avatar.jpeg"
                                                alt="user-avatar">
                                        </a>
                                        <div class="user-details">
                                            <a class="user-name" href="#user-href">Dias Kappassov</a>
                                            <div class="user-action-time">asked <span title="2021.12.03 20:20:52"
                                                    class="relativetime">1 mins ago</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">-3</span>votes
                                </div>
                                <div class="question-stat question-stat-answered">
                                    <span class="question-stat-digit">1</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit. Numquam aspernatur quasi quos tempore
                                    cupiditate vel consequuntur veritatis unde, a possimus nihil recusandae optio eos
                                    vitae error nisi omnis doloribus exercitationem?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>Lorem ipsum dolor
                                    sit amet consectetur adipisicing elit. Delectus aliquid odit exercitationem tempora
                                    error enim, laborum commodi quos molestias quo id quas totam dicta sunt laudantium
                                    reiciendis perspiciatis molestiae. Modi. Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Voluptate mollitia quis assumenda non fugit cupiditate tempora
                                    facilis natus sit unde aliquam pariatur eveniet rerum quo iure adipisci, laborum
                                    corporis maxime.</div>
                                <div class="question-marks-block">
                                    <div class="question-tags">
                                        <a href="#" class="btn-tag">php</a>
                                        <a href="#" class="btn-tag">html</a>
                                        <a href="#" class="btn-tag">css</a>
                                        <a href="#" class="btn-tag">c#</a>
                                        <a href="#" class="btn-tag">golang</a>
                                        <a href="#" class="btn-tag">js</a>
                                        <a href="#" class="btn-tag">javascript</a>
                                        <a href="#" class="btn-tag">brainfuck</a>
                                        <a href="#" class="btn-tag">python</a>
                                        <a href="#" class="btn-tag">xml</a>
                                        <a href="#" class="btn-tag">mariadb</a>
                                        <a href="#" class="btn-tag">mssql</a>
                                        <a href="#" class="btn-tag">mysql</a>
                                        <a href="#" class="btn-tag">oracle</a>
                                        <a href="#" class="btn-tag">p-sql</a>
                                    </div>
                                    <div class="question-user">
                                        <a class="user-avatar" href="#user-href"><img src="static/img/avatar.jpeg"
                                                alt="user-avatar">
                                        </a>
                                        <div class="user-details">
                                            <a class="user-name" href="#user-href">Dias Kappassov</a>
                                            <div class="user-action-time">asked <span title="2021.12.03 20:20:52"
                                                    class="relativetime">1 mins ago</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">5</span>votes
                                </div>
                                <div class="question-stat question-stat-answered-accepted">
                                    <span class="question-stat-digit">1</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit. Numquam aspernatur quasi quos tempore
                                    cupiditate vel consequuntur veritatis unde, a possimus nihil recusandae optio eos
                                    vitae error nisi omnis doloribus exercitationem?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>Lorem ipsum dolor
                                    sit amet consectetur adipisicing elit. Delectus aliquid odit exercitationem tempora
                                    error enim, laborum commodi quos molestias quo id quas totam dicta sunt laudantium
                                    reiciendis perspiciatis molestiae. Modi. Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Voluptate mollitia quis assumenda non fugit cupiditate tempora
                                    facilis natus sit unde aliquam pariatur eveniet rerum quo iure adipisci, laborum
                                    corporis maxime.</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">education</a>
                                    <a href="#" class="btn-tag">alem</a>
                                    <a href="#" class="btn-tag">school</a>
                                </div>
                            </div>
                        </div>


                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">0</span>votes
                                </div>
                                <div class="question-stat">
                                    <span class="question-stat-digit"> 0</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>how to code
                                    if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know if
                                    it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                                    dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id esse
                                    veniam illo assumenda rem?</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>

                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">0</span>votes
                                </div>
                                <div class="question-stat">
                                    <span class="question-stat-digit"> 0</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>how to code
                                    if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know if
                                    it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                                    dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id esse
                                    veniam illo assumenda rem?</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>

                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">0</span>votes
                                </div>
                                <div class="question-stat">
                                    <span class="question-stat-digit"> 0</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>how to code
                                    if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know if
                                    it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                                    dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id esse
                                    veniam illo assumenda rem?</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>

                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <span class="question-stat-digit">0</span>votes
                                </div>
                                <div class="question-stat">
                                    <span class="question-stat-digit"> 0</span>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title" data-limit-lines-on data-limit-lines='2'>how to code
                                    if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know if
                                    it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                                    dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id esse
                                    veniam illo assumenda rem?</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PAGINATION -->
                    <div class="paginaton-block">
                        <div class="btn btn--small">prev</div>
                        <div class="btn btn--small">1</div>
                        <div class="pagination-dots">...</div>
                        <div class="btn btn--small">3</div>
                        <div class="btn btn--small">4</div>
                        <div class="btn btn--small btn--selected">5</div>
                        <div class="btn btn--small">6</div>
                        <div class="btn btn--small">7</div>
                        <div class="pagination-dots">...</div>
                        <div class="btn btn--small">2021</div>
                        <div class="btn btn--small">next</div>
                    </div>
                </div>
                <div class="content-sidebar">
                    <h4 class="content-sidebar-title">Related Tags</h4>
                    <div class="tag-line"><a href="#" class="btn-tag">html</a><span>× 51</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">css</a><span>× 50</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">golang</a><span>× 30</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">c#</a><span>× 19</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">alem</a><span>× 1</span></div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="container footer">
            <p class="footer-text">2021 | by <a class="footer-text-link" target="_blank"
                    href="https://github.com/Dias1c">Dias1c</a> & <a class="footer-text-link" target="_blank"
                    href="https://github.com/RaevNur">nrblzn</a> | Project <a class="footer-text-link" target="_blank"
                    href="#">here</a></p>
        </div>
    </div>
</body>

</html>