<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TAB -->
    <link rel="shortcut icon" href="static/icons/forum.svg" type="image/png">
    <title>Forum Page Name</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/vars.css">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/questions.css">
</head>

<body>
    <div class="page">

        <!-- HEADER -->
        <header class="container header">
            <a class="logo-btn" href="#"><img src="static/icons/forum.svg" class="logo-btn-img" /> Forum</a>
            <a class="header-btn" href="#">About</a>
            <!-- header SEARCH -->
            <div class="header__search-block">
                <p class="header__search-text">Looking Up?</p>
                <div class="header__search">
                    <img class="header__search-img" src="static/icons/search.svg" alt="icon">
                    <input class="header__search-input" type="text" placeholder="Search..." />
                </div>
            </div>
            <!-- header BTNS -->
            <div class="header__auth-btns">
                <button class="btn btn--normal btn--secondary-v2">Log in</button>
                <button class="btn btn--normal btn--secondary-v1">Sign up</button>
            </div>
        </header>
        <!-- CONTENT -->
        <div class="container__inner">
            <div class="main-sidebar-container">
                <div class="main-sidebar">
                    <a class="sidebar-nav-link" href="#">Home</a>
                    <p class="sidebar-nav-title">Public</p>
                    <a class="sidebar-nav-link sub-nav-link" data-nav-selected href="#">Questions</a>
                    <a class="sidebar-nav-link sub-nav-link" href="#">Tags</a>
                    <a class="sidebar-nav-link sub-nav-link" href="#">Users</a>
                </div>
            </div>
            <div class="content">
                <div class="main-content">
                    <div class="content-intro">
                        <div class="content-intro-group">
                            <h1 class="main-title">All Questions</h1>
                            <button class="btn btn--normal btn--secondary-v1">Ask Question</button>
                        </div>
                        <div class="content-intro-group">
                            <p class="main-text">10,000,000 questions</p>
                            <div class="content-filter-block">
                                <div class="content-filter"></div>
                                <button class="btn btn--normal btn--secondary-v2">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <div class="question-stat-digit">0</div>votes
                                </div>
                                <div class="question-stat">
                                    <div class="question-stat-digit"> 0</div>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title">how to code if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text">I want to know if it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ) : a:active div{...</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <div class="question-stat-digit">0</div>votes
                                </div>
                                <div class="question-stat">
                                    <div class="question-stat-digit"> 0</div>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title">how to code if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text">I want to know if it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ) : a:active div{...</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <div class="question-stat-digit">0</div>votes
                                </div>
                                <div class="question-stat">
                                    <div class="question-stat-digit"> 0</div>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title">how to code if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text">I want to know if it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ) : a:active div{...</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <div class="question-stat-digit">0</div>votes
                                </div>
                                <div class="question-stat">
                                    <div class="question-stat-digit"> 0</div>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title">how to code if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text">I want to know if it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ) : a:active div{...</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>
                        <!-- QUESTION POST -->
                        <div class="question-post">
                            <div class="question-stats">
                                <div class="question-stat">
                                    <div class="question-stat-digit">0</div>votes
                                </div>
                                <div class="question-stat">
                                    <div class="question-stat-digit"> 0</div>answers
                                </div>
                            </div>
                            <div class="question-summary">
                                <a href="#" class="question-title">how to code if this element activated the other
                                    element changes with html and css?</a>
                                <div class="question-text">I want to know if it's possible to click on an element and
                                    then change another element only using Html and CSS and if it is then how. some
                                    thing like this ( btw this code doesn't work ) : a:active div{...</div>
                                <div class="question-tags">
                                    <a href="#" class="btn-tag">html</a>
                                    <a href="#" class="btn-tag">css</a>
                                    <a href="#" class="btn-tag">golang</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="content-sidebar">
                    <h4 class="content-sidebar-title">Related Tags</h4>
                    <div class="tag-line"><a href="#" class="btn-tag">html</a><span>× 51</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">css</a><span>× 50</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">golang</a><span>× 30</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">c#</a><span>× 19</span></div>
                    <div class="tag-line"><a href="#" class="btn-tag">alem</a><span>× 1</span></div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="container footer">
            <p class="footer-text">2021 | by <a class="footer-text-link" target="_blank" href="https://github.com/Dias1c">Dias1c</a> & <a class="footer-text-link" target="_blank" href="https://github.com/RaevNur">nrblzn</a> |  Project <a class="footer-text-link" target="_blank" href="#">here</a></p>
        </div>
    </div>
</body>

</html>