{{ define "md-sidebar-menu-nav" }}
    <div class="main-sidebar">
        <a class="sidebar-nav-link" href="index.html">Home</a>
        <p class="sidebar-nav-title">Public</p>
        <a class="sidebar-nav-link sub-nav-link" href="questions.html">Questions</a>
        <a class="sidebar-nav-link sub-nav-link" href="tags.html">Tags</a>
        <a class="sidebar-nav-link sub-nav-link" href="users.html">Users</a>
    </div>
{{ end }}