<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- jquery TAGS -->
    <link rel="stylesheet" href="static/css/jquery.tag-editor.css">
</head>
<body>

        <textarea class="question-filter-textarea" name="tags" id="tb_QuestionsTags"></textarea>
    
    <!-- TAG EDITOR -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="static/js/jquery.tag-editor.min.js"></script>
    <script src="static/js/jquery.caret.min.js"></script>
    <script>
        $('#tb_QuestionsTags').tagEditor({
            initialTags: ['Hello', 'World', 'Example', 'Tags'],
            delimiter: ', ',
            placeholder: 'Enter tags ...'
        }).css('display', 'block').attr('readonly', true);
    </script>
</body>
</html>