<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/buttons.css">
    <link rel="stylesheet" href="assets/css/test.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/tabler-icons.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a class="btn">
            Shift
        </a>
        <div class="block--horisontal__btns">
            <a class="btn btn--selected">
                <i class="ti ti-heart"></i>
            </a>
            <a class="btn">
                <i class="ti ti-share"></i>
            </a>
            <a class="btn">
                <i class="ti ti-file"></i>
            </a>
        </div>
        <div class="block--vertical__btns">
            <a class="btn btn--selected">
                <i class="ti ti-arrow-big-top"></i>
            </a>
            <a class="btn">
                <i class="ti ti-arrow-big-down"></i>
            </a>
        </div>
        <div class="testLog">
            <a class="btn"><i class="ti ti-home"></i></a><a class="btn"><i class="ti ti-transfer-in"></i></a>
        </div>
    </div>
</body>

</html>